.container {
  display: flex;
}

.home_pg {
  display: flex;
  flex-direction: row wrap;
  height: 100%;
  /* justify-content: space-evenly; */
  /* padding: 20px; */
  background-color: orange;
}

.booktile {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px;
  background-color: lightgray;
}
